@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --category: #f7f5f5;
    --banner: #e9e9e9;
    --banner-overlay: #00000092;
    --background: #f7f5f5;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --category: #f7f5f5;
    --banner: #043224;
    --banner-overlay: #00000092;
    --background: #474848;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .circle {
    @apply bg-red-600 text-white size-[10px] p-[10px] rounded-full flex items-center justify-center absolute top-[-12px] left-[0.8rem];
  }
  .link {
    @apply relative hover:text-gray-500;
  }
  .link::after {
    @apply content-[''] h-[2px] w-[0%] block  duration-300 left-0 bottom-0 absolute bg-gray-400;
  }
  .link:hover::after {
    @apply w-[70%];
  }
}
.active {
  color: red;
  &:hover {
    color: rgb(228, 7, 7);
  }
}
/* spinner loader */
.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

/* Banner Swiper */
.swiper-cont {
  .swiper {
    z-index: 0;
  }
}

.banner-swiper {
  .swiper-button-prev {
    height: 2rem;
    background: white;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    width: 1rem;
    &::after {
      /* content: "<"; */
      color: gray;
      font-size: 1rem;
      position: absolute;
    }
  }
  .swiper-button-next {
    height: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    background: white;
    display: flex;
    width: 1rem;
    &::after {
      /* content: "<"; */
      color: grey;
      font-size: 1rem;
      position: absolute;
    }
  }
}
/* switch */

.input {
  display: none;
}

.icon {
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}
.moon {
  width: 1rem;
}
.sun {
  width: 1rem;
}

#switch:checked + .icon--moon {
  transform: rotate(360deg);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: rotate(360deg);
}

/* product swiper */
/* product swiper */

.product-swiper {
  display: flex;
  height: 100%;
  .swiper {
    z-index: 0;
  }
}

.product-swiper .swiper-thumbs {
  height: 100%;
  margin-right: 1rem;
  width: 7rem;
}
@media (max-width: 900px) {
  .product-swiper .swiper-thumbs {
    margin-top: 5px;
    margin-right: 0.5rem;
    width: 100%;
  }
}
.product-swiper .swiper-thumbs .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 900px) {
  .product-swiper .swiper-thumbs .swiper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
  }
}
.product-swiper .swiper-thumbs .swiper-wrapper .swiper-slide {
  width: 7rem !important;
  height: 7rem !important;
  border-radius: 50% !important;
  opacity: 0.7;
  background-color: #d1d5db;
}
@media (max-width: 900px) {
  .product-swiper .swiper-thumbs .swiper-wrapper .swiper-slide {
    width: 5rem !important;
    height: 5rem !important;
  }
}

.product-swiper .swiper-thumbs .swiper-wrapper .swiper-slide-thumb-active {
  opacity: 1;
}

.product-swiper .mySwiper2 .swiper-wrapper {
  width: 100%;
}

.mySwiper2 .swiper-button-prev {
  height: 2rem;
  width: 2rem;
  &::after {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    z-index: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: black;
  }
}

.mySwiper2 .swiper-button-next {
  height: 2rem;
  width: 2rem;
  &::after {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: black;
  }
}

@media (max-width: 700px) {
  .product-swiper .swiper-thumb {
    height: 100%;
    margin-top: 1rem;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .product-swiper .swiper-thumb {
    height: 100%;
    margin-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .product-swiper .swiper-thumb .swiper-wrapper {
    flex-direction: row;
    width: 100%;
    gap: 4px;
  }
}

@media (max-width: 700px) {
  .product-swiper .swiper-thumb .swiper-wrapper .swiper-slide {
    width: 4rem !important;
    height: 4rem !important;
    opacity: 0.7;
    background-color: #d1d5db;
  }
}
.product-swiper .swiper-thumb .swiper-wrapper .swiper-slide-thumb-active {
  opacity: 1;
}

.product-swiper .mySwiper2 {
  z-index: 0;
}
.product-swiper .mySwiper2 .swiper-wrapper {
  height: 100%;
  width: 100%;
}

.mySwiper2 .swiper-button-prev {
  height: 2rem;
  width: 2rem;
  &::after {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    z-index: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: black;
  }
}

.mySwiper2 .swiper-button-next {
  height: 2rem;
  width: 2rem;
  &::after {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: black;
  }
}
/* Related Products */
.related-swiper {
  .swiper {
    z-index: 0;
  }
  .mySwiper .swiper-button-prev {
    height: 2rem;
    width: 2rem;
    &::after {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-color: white;
      z-index: 0;
      font-size: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: black;
    }
  }

  .mySwiper .swiper-button-next {
    height: 2rem;
    width: 2rem;
    &::after {
      background-color: white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      z-index: 0;
      font-size: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: black;
    }
  }
}
